<!DOCTYPE html>
<html>
  <head>
  	{{>head}}

   
	
    <title>{{ title }}</title>
  </head>

  <body class="stretched">
  	
  	<div id="app">{{{react}}}</div>

    {{>javascripts}}

  </body>



</html>
